<ion-view title="Detalhes Dependente" id="page9" cache-view="false">
    <ion-content padding="true" class="has-header">
        <ion-list id="detalhesDependente-list13">
            <ion-item class="item-avatar" id="detalhesDependente-list-item17">
                <img ng-src="templates/avatar.png">
                <h2>{{matricula.aluno_nome}}</h2>
                <p><b>Escola: </b>{{matricula.escola_nome}}</p>
                <p><b>Serie: </b>{{matricula.serie_nome}}</p>
                <p><b>Turma: </b>{{matricula.turma_nome}}</p>
            </ion-item>
            <ion-item class="item-icon-right" id="detalhesDependente-list-item18" ui-sref="notasParciais">Notas Parciais
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="detalhesDependente-list-item20" ng-click="go_ocorrencias()">Ocorrências
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="detalhesDependente-list-item21" ui-sref="boletim">Boletim
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="detalhesDependente-list-item22" ui-sref="frequNcia">Frequência
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
        </ion-list>
        <a ui-sref="listagemDeDependentes" id="detalhesDependente-button10" class="button button-balanced  button-block">Voltar</a>
    </ion-content>
</ion-view>