<ion-view title="Home" id="page2">
    <ion-content padding="true" class="has-header">
        <a ng-click="go_listagem()" id="home-button1" class="button button-positive  button-block icon ion-ios-list-outline">Listar Dependentes</a>
        <a ui-sref="telefonesTeis" id="home-button2" class="button button-positive  button-block icon ion-ios-telephone">Telefones Úteis</a>
        <a ui-sref="meusDados" id="home-button3" class="button button-positive  button-block icon ion-android-person">Meus Dados</a>
        <a ui-sref="login" id="home-button4" class="button button-assertive  button-block icon ion-android-exit" ng-click="sair()">Sair</a>
    </ion-content>
</ion-view>