<ion-view title="Sobre o Ieducar Mobile" id="page4">
    <ion-content padding="true" class="has-header">
        <div id="sobreOIeducarMobile-markdown1" style="color:#000000;">
            <p>Versão: 1.0</p>
            <p>O aplicativo
                <strong>Ieducar Mobile</strong> originou-se de um trabalho final de conclusão de curso.</p>

            Tem como objetivo proporcionar uma interface entre os pais e as instituições de ensino, facilitando a comunicação entre ambos.</p>
        </div>
    </ion-content>
</ion-view>