<ion-view title="Telefones Úteis" id="page7">
    <ion-content padding="true" class="has-header">
        <ion-list id="telefonesTeis-list11">
            <ion-item class="item-divider" id="telefonesTeis-list-item-divider3">Secretaria da Educação</ion-item>
            <ion-item id="telefonesTeis-list-item13">(047) 3363-7144</ion-item>
            <ion-item class="item-divider" id="telefonesTeis-list-item-divider2">Prefeitura de Balneário Camboriú</ion-item>
            <ion-item id="telefonesTeis-list-item14">(047) 3267-7000</ion-item>
        </ion-list>
        <a ui-sref="home" id="telefonesTeis-button8" class="button button-balanced  button-block">Voltar</a>
    </ion-content>
</ion-view>